body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    width: 400px;
}

h1 {
    text-align: center;
}

form {
    margin-top: 30px;
    width: 100%;
}

input {
    margin: 10px 0px 0px;
    border: 0;
    background-color: white;
}

#login {
    display: block;
    text-decoration: none;
}

#logout {
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
}

button {
    margin-top: 20px;
}

label {
    color: rgb(68, 64, 64);
}

span {
    color: rgb(68, 64, 64);
    font-weight: bold;
}

.info {
    width: 100%;
    max-width: 450px;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    color: rgb(68, 64, 64);
}
