<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Team Invitation Success</title>

        <link rel="stylesheet" href="/css/globals.css" />
        <link rel="stylesheet" href="/css/github/invite/style.css" />
        <link rel="stylesheet" href="/css/github/invite/result.css" />
    </head>
    <body>
        <main>
            <h1>
                <% if (success) { %>
                    Invite success
                <% } else { %>
                    Invite failed
                <% } %>
            </h1>
            <% if (!success) { %>
                <p class="fail">
                    Please contact <span class="bold">Ezra Magbanua</span>, or report in 
                    <span><a href="https://discord.com/channels/1253331398560055396/1257273682661740576" target="_blank">Discord</a></span>
                </p>
            <% } else { %>
                <p id="countdown">Redirecting in 3</p>
            <% } %>
        </main>

        <input type="hidden" id="redirect_url" value="<%- redirect_url %>" />
        <input type="hidden" id="error_status" value="<%- error_status %>" />
        <input type="hidden" id="error_message" value="<%- error_message %>" />

        <% if (success) { %>
            <script type="text/javascript" src="/scripts/github/invite/result.js"></script>
        <% } %>
    </body>
</html>
